<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" routerLink = '/materias' (click) = 'listMateria()'>
    Home
  </a>
  <a class="navbar-brand" routerLink = '/materias' (click) = 'addMateria()'>
    Adicionar Materia
  </a>
  <a class="navbar-brand" routerLink = ''>
    Logout
  </a>
</nav>
<table class="table" *ngIf = 'currentview == 1'>
  <thead>
    <tr>
      <th scope="col">-</th>
      <th scope="col">Numero</th>
      <th scope="col">Materia</th>
      <th scope="col">Media</th>
      <th scope="col">Conceito</th>
      <th scope="col">-</th>
    </tr>
  </thead>
  <tbody *ngFor = 'let materia of todasAsMaterias; index as i'>
    <tr>
      <button type="button" class="btn btn-secondary btn-sm" (click) = 'deletarMateria(materia.id)'>Deletar</button>
      <td>{{i +1}}</td>
      <td>{{materia.nome}}</td>
      <td>{{materia.media}}</td>
      <td>{{materia.conceito}}</td>
      <button type="button" class="btn btn-secondary btn-sm" (click) = 'detalhesmaterias(materia)'>Detalhes</button>
    </tr>
  </tbody>
</table>

<form *ngIf = 'currentview == 2'>
  <input class="form-control form-control-lg" type="text" placeholder="Nome" #Nome>
  <input class="form-control" type="text" placeholder="AB1" #AB1>
  <input class="form-control form-control-sm" type="text" placeholder="AB2" #AB2>
  <input class="form-control form-control-sm" type="text" placeholder="Reavaliação" #reav>
  <input class="form-control form-control-sm" type="text" placeholder="Final" #Final>
  <input class="form-control form-control-sm" type="text" placeholder="Carga Horaria" #Carga>
  <button type="button" class="btn btn-secondary btn-lg btn-block" (click) = 'adicionarNovaMateria(Nome.value, AB1.value, AB2.value, reav.value, Final.value, Carga.value)'>Adicionar Materia</button>
  <h1>{{Erro}}</h1>
</form>

<table class="table" *ngIf = 'currentview == 3'>
  <tbody>
    <tr>
      <td>Nome:</td>
      <td>{{mymateria.nome}}</td>
    </tr>
    <tr>
      <td>AB1:</td>
      <td>{{mymateria.ab1}}</td>
    </tr>
    <tr>
      <td>AB2:</td>
      <td>{{mymateria.ab2}}</td>
    </tr>
    <tr>
      <td>Reavaliação:</td>
      <td>{{mymateria.reav}}</td>
    </tr>
    <tr>
      <td>Final:</td>
      <td>{{mymateria.final}}</td>
    </tr>
    <tr>
      <td>Media:</td>
      <td>{{mymateria.media}}</td>
    </tr>
    <tr>
      <td>Carga Horaria:</td>
      <td>{{mymateria.carga_horaria}}</td>
    </tr>
    <tr>
      <td>Faltas:</td>
      <td>{{mymateria.faltas}}</td>
    </tr>
    <tr>
      <td>Maximo de Faltas:</td>
      <td>{{mymateria.max_faltas}}</td>
    </tr>
    <tr>
      <td>Conceito:</td>
      <td>{{mymateria.conceito}}</td>
    </tr>
  </tbody>
</table>
<button type="button" class="btn btn-secondary btn-lg btn-block" *ngIf = 'currentview == 3' (click) = ' editmateri()'>Editar Materia</button>

<form *ngIf = 'currentview == 4'>
  <input class="form-control form-control-lg" type="text" placeholder="{{mymateria.nome}}" #Nome>
  <input class="form-control" type="text" placeholder="{{mymateria.ab1}}" #AB1>
  <input class="form-control form-control-sm" type="text" placeholder="{{mymateria.ab2}}" #AB2>
  <input class="form-control form-control-sm" type="text" placeholder="{{mymateria.reav}}" #reav>
  <input class="form-control form-control-sm" type="text" placeholder="{{mymateria.final}}" #Final>
  <input class="form-control form-control-sm" type="text" placeholder="{{mymateria.carga_horaria}}" #Carga>
  <button type="button" class="btn btn-secondary btn-lg btn-block" (click) = 'update(Nome.value, AB1.value, AB2.value, reav.value, Final.value, Carga.value)'>Salvar Mudanças</button>
  <h1>{{Erro}}</h1>
</form>